<div *ngIf="tipoProduto">
    <h2>{{tipoProduto.descricao}}</h2>
    <div class="col-auto">
        <label for="id">Id:</label>
      </div>
    <div>
        <div class="col-auto">
            {{tipoProduto.id}}
        </div>        
    </div>
    <div class="form-floating mb-3">        
        <input [(ngModel)]="tipoProduto.descricao" placeholder="Descrição" class="form-control" id="descricao"/>
        <label for="descricao">Descrição</label>
    </div>
    <div>
        Ativo:
        <input type="checkbox" [(ngModel)]="tipoProduto.ativo" />
    </div>
    <button (click)="alterarTipoProduto(tipoProduto)" *ngIf="tipoProduto" class="btn btn-success">Salvar</button>    
    <button (click)="excluirTipoProduto(tipoProduto)" class="btn btn-danger">Excluir</button>
    <button (click)="limparCampos()" class="btn btn-light">Limpar Campos</button>
</div>

<router-outlet></router-outlet>