<button (click)="initNewTipoProduto()">Criar novo tipo de produto</button>

<table>
  <thead>
    <th>Id</th>
    <th>Descrição</th>
    <th>Ativo</th>
  </thead>
  <tbody>
    <tr *ngFor="let tipoProduto of tipoProdutos">
      <td>{{tipoProduto.id}}</td>
      <td>{{tipoProduto.descricao}}</td>
      <td>{{tipoProduto.ativo}}</td>
      <td><button (click)="editarTipoProduto(tipoProduto)">Editar</button></td>     
    </tr>
  </tbody>
</table>

<app-edit-tipo-produto 
  [tipoProduto]="tipoProdutoEdit" 
  (tipoProdutoUpdated)="atualizarTipoProdutoList($event)"
></app-edit-tipo-produto>